@import "reset.css";
@import "base.css";
@import "public.css";

/*================充值侧边导航样式================*/
.sidebar-main,.first-nav{
	position:absolute;
	left:0;
	top:40px;
	border:1px solid #87bb57;
	box-sizing:border-box;
	display:none;
}
.cart-container{
	width:1200px;
	height:auto;
	padding:100px 0 130px;
	margin:0 auto;
	border-top:2px solid #ddd;
}
.nothing{
	width:590px;
	height:155px;
	background:url(img/null-cart.png) no-repeat 0 0;
	padding-left:155px;
	margin:0 auto;
	box-sizing:border-box;
}
.nothing span{
	display:block;
	height:86px;
	line-height:110px;
	font-size:28px;
	color:#999;
}
.nothing a{
	padding:12px 20px;
	margin-right:25px;
	background-color:#4db008;
	text-align:center;
	color:#fff;
	font-size:14px;
	border-radius:5px;
}
/*===== 有商品======*/
.cart-content{
	width:1200px;
	height:auto;
}
.buy-list{
	width:100%;
	height:auto;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.buy-pro{
	width:1198px;
	height:110px;
	border-bottom:1px solid #ccc;
}
.buy-check,.buy-pic,.buy-name,.buy-price,.buy-control{
	height:100%;
	line-height:110px;
	text-align:center;
}
.buy-check{
	width:68px;
}
.buy-pic{
	width:110px;
}
.buy-pic a{
	display:inline-block;
	width:90px;
	height:90px;
	border:1px solid #ccc;
	vertical-align: middle;
}
.buy-pic img{
	width:90px;
	height:90px;
}
.buy-name{
	width:454px;
}
.num-control{
	width:80px;
	height:100%;
	box-sizing:border-box;
	padding-top:38px;
}
.num-control p{
	width:100%;
	height:24px;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.num-control span{
	display:inline-block;
	width:15px;
	height:22px;
	float:left;
	text-align: center;
	line-height:22px;
	font-size:20px;
	cursor:pointer;
}
.num-control input{
	display:inline-block;
	width:44px;
	height:22px;
	border:none;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	float:left;
	text-align: center;
}
.buy-price{
	width:264px;
	font-weight:bold;
	color:#000;
}
.buy-control{
	width:220px;
}
.buy-control span{
	margin-right:5px;
	color:#6a8dc3;
}
